{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body%}
<h1>This my second site</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Adipisci enim eos excepturi sed.</li>
<li>Aperiam fugiat iure possimus praesentium!</li>
<li>Accusantium illum molestias quo sint.</li>
<li>Dolor eos iusto possimus praesentium!</li>
<li>Commodi laborum nemo pariatur quaerat.</li>
<li>Doloribus eius eveniet nesciunt quis.</li>
<li>Hic laudantium odio vero voluptatibus!</li>
<li>Ea eveniet laborum perferendis. Ratione.</li>
<li>Beatae doloribus dolorum esse magnam.</li>
<li>Atque impedit labore rem sint?</li>
<li>Labore necessitatibus quae saepe. Nemo?</li>
<li>Aspernatur blanditiis doloremque quam. Eum.</li>
<li>Itaque, tempora totam! Ipsum, sunt.</li>
<li>Aperiam rem sunt tempore ut.</li>
<li>Dolorem itaque maiores nisi rerum.</li>
<li>Autem consequuntur in mollitia nemo!</li>
<li>Asperiores consectetur hic quae quidem?</li>
<li>Consequatur cupiditate necessitatibus obcaecati quam?</li>
<li>Distinctio illo minima tenetur voluptatum.</li>
<li>Adipisci exercitationem labore qui reprehenderit!</li>
<li>Accusamus fugiat necessitatibus numquam suscipit!</li>
<li>Architecto inventore nostrum placeat qui.</li>
<li>Cupiditate dicta dolorem ex qui?</li>
<li>Amet neque rerum sit tempore.</li>
<li>Delectus dolores eveniet magni quasi.</li>
<li>Esse excepturi ipsa qui veritatis?</li>
<li>Debitis dolor illo perferendis quidem?</li>
<li>Cupiditate dolorum facere facilis minima!</li>
<li>Cupiditate distinctio dolor laudantium quae.</li>
<li>Aut dolore in ipsa odio!</li>
<li>Dignissimos illum odit ullam voluptas.</li>
<li>Adipisci quas ratione sed veniam?</li>
<li>Doloribus, facere sed? Aperiam, beatae!</li>
<li>Eligendi labore minima perspiciatis rerum!</li>
<li>Aspernatur dolores repudiandae sint? Veniam.</li>
<li>Beatae doloremque praesentium rem ullam?</li>
<li>Accusamus beatae nobis tempore voluptate.</li>
<li>Ad eos nisi optio quasi.</li>
<li>Alias excepturi laudantium libero quos.</li>
<li>Accusantium asperiores aspernatur dolor iusto.</li>
<li>Alias hic magnam nemo similique.</li>
<li>Consequuntur debitis et facilis optio.</li>
<li>Corporis eligendi officiis suscipit voluptate?</li>
<li>Enim maxime possimus sit tempora?</li>
<li>Ad atque eum illo labore!</li>
<li>Ab maxime nostrum quam sapiente.</li>
<li>Eius harum magni nostrum rem.</li>
<li>At beatae commodi delectus quas?</li>
<li>Debitis enim molestias numquam quod!</li>
<li>Delectus nesciunt ratione sapiente similique.</li>
<li>Consectetur eos non optio porro.</li>
<li>Commodi debitis fugiat id repellendus?</li>
<li>Amet delectus inventore voluptas voluptatibus.</li>
<li>At distinctio natus sapiente totam.</li>
<li>Maxime possimus sequi soluta temporibus.</li>
<li>Aut ea et nesciunt quae!</li>
<li>Earum ex excepturi nisi sit?</li>
<li>Non possimus praesentium quisquam veritatis?</li>
<li>Corporis eius labore odio pariatur!</li>
<li>Dolorum enim in ipsam quisquam.</li>
<li>Non numquam praesentium sed sequi!</li>
<li>Commodi ducimus eveniet ipsa quae!</li>
<li>Consectetur, nostrum, soluta? Cum, quia.</li>
<li>Beatae doloremque ipsam magni rerum?</li>
<li>Laboriosam laborum praesentium ratione veniam!</li>
<li>Aliquam et explicabo odio quis.</li>
<li>Cumque mollitia quam qui vero.</li>
<li>Accusantium aperiam exercitationem laboriosam ut!</li>
<li>At eius eos ipsam reiciendis?</li>
<li>Accusantium necessitatibus nemo tempora temporibus!</li>
<li>A dolores minima qui sit.</li>
<li>Aut eligendi eos laboriosam saepe.</li>
<li>Culpa distinctio molestias neque ullam?</li>
<li>Cupiditate facere hic nulla soluta?</li>
<li>Eos mollitia perferendis recusandae veniam.</li>
<li>Facere illum quod sit voluptas.</li>
<li>Corporis dicta esse perferendis perspiciatis?</li>
<li>Cupiditate deserunt dolore hic ipsum?</li>
<li>Accusamus laboriosam sit veniam vitae.</li>
<li>Dolores et eum sequi vitae.</li>
<li>Ab at natus nulla repudiandae!</li>
<li>Cupiditate incidunt quia reprehenderit ullam.</li>
<li>Aliquam doloribus eaque explicabo repudiandae?</li>
<li>Eaque inventore nisi perferendis rem.</li>
<li>Hic illo labore molestiae optio!</li>
<li>Facere, impedit tempore. Adipisci, soluta.</li>
<li>Corporis ipsam modi nobis sapiente.</li>
<li>Dolorum esse ipsa labore quod!</li>
<li>Excepturi magni tempora vel! Recusandae?</li>
<li>A aperiam facere harum veritatis!</li>
<li>Ea quaerat quia repellendus vero!</li>
<li>Dicta ipsum qui sit vitae.</li>
<li>Asperiores quam reiciendis repellendus suscipit.</li>
<li>Dignissimos dolorum earum iste laborum.</li>
<li>Ad dolores excepturi facere libero!</li>
<li>Explicabo nesciunt officiis provident quae!</li>
<li>Aut corporis quas tenetur ut!</li>
<li>Error libero nemo sed voluptate?</li>
<li>Dicta nam nisi nobis non!</li>
{% endblock %}