{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content%}
<h1>This my second site</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Aliquam eligendi officia sequi vel.</li>
<li>Earum expedita obcaecati saepe sunt!</li>
<li>Aliquam beatae impedit nobis recusandae.</li>
<li>Aperiam at cumque dicta ut.</li>
<li>Ducimus labore perspiciatis repellat velit!</li>
<li>Consequuntur eius modi sed totam!</li>
<li>Accusantium aspernatur, facere? Quis, quo!</li>
<li>Esse exercitationem iure nam quis.</li>
<li>Blanditiis laudantium quam quidem repudiandae!</li>
<li>Fugiat nemo perferendis praesentium unde!</li>
<li>Harum possimus quisquam sapiente voluptatibus.</li>
<li>Aliquam distinctio illum minima sint?</li>
<li>Adipisci dolore error maxime qui!</li>
<li>Earum excepturi ipsam quidem repudiandae!</li>
<li>Labore laborum neque soluta velit?</li>
<li>Asperiores culpa debitis dolore ut!</li>
<li>Autem ex natus sapiente ut!</li>
<li>Accusamus ex magni reiciendis repellendus.</li>
<li>Dignissimos impedit ipsa quos velit.</li>
<li>Omnis reiciendis sunt vel voluptates.</li>
<li>Aliquam facilis impedit quod voluptates!</li>
<li>Accusantium culpa itaque rem tempore?</li>
<li>Aperiam exercitationem incidunt iure quia.</li>
<li>Eaque ipsam iusto quas veniam!</li>
<li>Ex iusto minima sequi voluptas!</li>
<li>Adipisci animi doloremque obcaecati vitae!</li>
<li>Cupiditate earum molestiae optio voluptatibus.</li>
<li>Aliquam assumenda maxime quisquam quo?</li>
<li>Ab dolorem nihil quidem totam.</li>
<li>At culpa placeat quo tenetur?</li>
<li>Fugit illum inventore labore maxime?</li>
<li>Blanditiis eveniet nemo praesentium tempora!</li>
<li>Accusamus enim quasi velit voluptatibus?</li>
<li>Cum expedita illo nisi quibusdam.</li>
<li>Accusamus, inventore tempore. In, magnam.</li>
<li>Assumenda distinctio ducimus earum quaerat.</li>
<li>Atque commodi id labore nihil.</li>
<li>Asperiores dolorum nemo quasi vel?</li>
<li>In itaque libero maiores tempora.</li>
<li>Nulla omnis rerum tempore voluptatum.</li>
<li>Dolores fugiat maiores vel voluptatum.</li>
<li>Eaque excepturi expedita maiores voluptas?</li>
<li>Ea, incidunt, quisquam? Magnam, nihil.</li>
<li>Aut deleniti doloribus sapiente suscipit.</li>
<li>Ex illum nisi unde velit.</li>
<li>Amet delectus dolores recusandae similique!</li>
<li>Delectus eos impedit natus odit?</li>
<li>Accusantium deleniti distinctio earum reiciendis?</li>
<li>Minus nulla reprehenderit totam vero?</li>
<li>Id perferendis quis quod similique.</li>
<li>Animi id molestiae repellat saepe.</li>
<li>Deserunt, illum, odio. Incidunt, quia?</li>
<li>Adipisci nostrum repellat sunt ullam!</li>
<li>Aspernatur ea excepturi exercitationem fugiat.</li>
<li>Ducimus est modi nisi placeat.</li>
<li>At dicta labore reiciendis veniam!</li>
<li>Cumque dolorum ducimus necessitatibus sit!</li>
<li>Eius exercitationem iusto provident temporibus.</li>
<li>Beatae esse eveniet quibusdam soluta?</li>
<li>Accusamus facere magnam nisi tempore?</li>
<li>Aliquam deleniti illo molestias quibusdam!</li>
<li>At atque in provident quo.</li>
<li>Mollitia odit quis ratione veritatis.</li>
<li>Cumque eius illum in ullam.</li>
<li>Atque consequatur ex ipsam maiores.</li>
<li>Expedita minima nobis possimus recusandae?</li>
<li>Debitis dolore nemo possimus tenetur?</li>
<li>Aut doloribus incidunt perferendis sit.</li>
<li>Ipsum non quo tempora temporibus.</li>



{% endblock %}